/* CampaignTable.module.css */

.container {
    display: flex;
    flex-direction: column; /* Change to column direction */
    justify-content: flex-start; /* Align items at the start (top) */
    align-items: center; /* Center items horizontally */
  }
  
  .table-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  .th,
  .td {
    padding: 10px;
    text-align: center;
  }
  
  .th {
    background-color: #67729d;
    font-weight: bold;
  }
  
  .td {
    background-color: #eef5ff;
    color: #2b2a4c;
    border: 1px dotted;
  }
  